table {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

td,
th {
  border: 1px solid #666;
  padding: 8px;
  text-align: center;
  opacity: 0.5;
}

tr:nth-child(odd) {
  background-color: #eee;
}

tr:nth-child(even) {
    background-color: #666;
  }

tr:hover {
  background-color: #ddd;
}


